@model MMU_MVC_CV.Models.Entity.TblEducation
@{
    ViewBag.Title = "AddEducation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h4> Yeni Eğitim Ekleme Sayfası</h4>
<br />
<form method="post">
    @Html.Label("Başlık")
    @Html.TextBoxFor(x => x.Title, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Title, "", new { @style = "color:red" })
    <br />
    @Html.Label("Alt Başlık 1")
    @Html.TextBoxFor(x => x.SubTitle1, new { @class = "form-control" })
    <br />
    @Html.Label("Alt Başlık 2")
    @Html.TextAreaFor(x => x.SubTitle2, new { @class = "form-control" })
    <br />
    <br />
    @Html.Label("Tarih")
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />
    <button class="btn btn-info">Kaydet</button>
</form>